<div class="buildrecipespage">

    <div ng-controller="buildRecipe">
        <div class="dropDownLists">
            <div class="course">
                <h3>Course:</h3>
                <select>
                    <option>Breads</option>
                    <option>Desserts</option>
                    <option>Main</option>
                    <option>Salads</option>
                    <option>Snacks</option>
                    <option>Soups</option>
                    <option>Starters</option>
                </select>
            </div>
            <div class="foodCategory">
                <h3>Food Category:</h3>
                <select>
                    <option>Beans</option>
                    <option>Breads</option>
                    <option>Desserts</option>
                    <option>Fish</option>
                    <option>Meat</option>
                    <option>Pasta/Rice</option>
                    <option>Poultry/Game</option>
                    <option>Vegetarian</option>
                </select>
            </div>
            <div class="cuisine">
                <h3>Cuisine:</h3>
                <select>
                    <option>Chinese</option>
                    <option>English</option>
                    <option>Indian</option>
                    <option>Italian</option>
                    <option>Thai</option>
                    <option>Traditional</option>
                </select>
            </div>
            <div class="prepTime">
            <h3>Prep Time:</h3>
                <input>
            </div>
            <div class="cookTime">
                <h3>Cook Time:</h3>
                <input>
            </div>
        </div>
        <div class="descriptionTextArea">
            <h3>Description of the recipe</h3>
            <textarea style="margin: 0px; width: 99%; height: 114px;"></textarea>
        </div>
        <div class="ingredientSection">

            <form ng-submit="submitRecipe()" class="formSection">
                <div class="quantity">
                    <p class="quantityP">Quantity:</p>
                    <input type="number" placeholder="Enter Amount" ng-model="one" name="one" />
                </div>
                <div class="measurement">
                    <p class="measurementP">Measurement:</p>
                    <select ng-model="two" name="two">
                        <option> </option>
                        <option>tsp</option>
                        <option>tbsp</option>
                        <option>cup</option>
                        <option>fl oz</option>
                        <option>oz</option>
                        <option>lb</option>

                    </select>
                </div>
                <div class="ingredient">
                    <p class="ingredientP">Ingredient:</p>
                    <input type="text" placeholder="Enter Ingredient" ng-model="three" name="three" />
                    <p>{{errortext}}</p>
                </div>

                <input type="submit" id="submit" value="Submit" />

            </form>
                <div class="displayedIngredients">
                <h3 class="displayedRecipe">Displayed Recipe:</h3>
                    <ul>
                        <li ng-repeat="ingredient in list" class="list">
                            {{ingredient}}
                            <span ng-click="removeIngredient()">&times;</span>
                        </li>
                    </ul>
            </div>
                <div class="displayedSteps">

                    <h3 class="steps">Steps</h3>
                    <form ng-submit="addStep()">
                    <input type="submit" id="submitStep" value="Submit" />
                    </form>

                    <input ng-model="singleStep" name="singleStep">


                    <ul>
                        <li ng-repeat="step in steps" class="step">
                            {{step}}
                            <span ng-click="removeStep()">&times;</span>

                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
