<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <div class="hannibalImg">
    <img src="assets/images/hannibal-cooking.jpg" class="img-responsive img-circle margin" style="display:inline" alt="hannibal" width="400" height="400">
    </div>
    <h1 class="margin">WHAT TO EAT</h1>
    <h3>Saving you time, money and learning to cook</h3>
    <p>(May not actually learn to cook)</p>
</div>
<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
        <h3 class="recipes">Recipes</h3>

        <p>Below you will find categories of current recipes. Please check them out</p>

        <div class="row-image">
            <div class="col-sm-4">
                <a href="#snacks" class="food-categories">
                    <!--<img src="assets/images/snacks.jpg" class="img-responsive" alt="">-->
                </a>
                <p>Snacks</p>
            </div>
            <div class="col-sm-4">
                <a href="#soups" class="food-categories">
                    <!--<img src="assets/images/soups.jpg" class="img-responsive" alt="">-->
                </a>
                <p>Soups</p>
            </div>
            <div class="col-sm-4">
                <a href="#salads" class="food-categories">
                    <!--<img src="assets/images/salads.jpg" class="img-responsive" alt="">-->
                </a>
                <p>Salads</p>
            </div>
            <div class="col-sm-4">
                <a href="#snacks" class="food-categories">
                    <!--<img src="assets/images/starters.jpg" class="img-responsive" alt="">-->
                </a>
                <p>Starters</p>
            </div>
            <div class="col-sm-4">
                <a href="#soups" class="food-categories">
                    <!--<img src="assets/images/main.jpg" class="img-responsive" alt="">-->
                </a>
                <p>Main</p>
            </div>
            <div class="col-sm-4">
                <a href="#salads" class="food-categories">
                    <!--<img src="assets/images/desserts.jpg" class="img-responsive" alt="">-->
                </a>
                <p>Desserts</p>
            </div>
        </div>
    <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-search"></span> Search
    </a>
</div>
<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">About</h3><br>
    <ul>
        <li><p>Why I built this...</p></li>
        <li><p>How it can benefit...</p></li>
        <li><p>Stats on saving money by cooking as opposed to going out...</p></li>
        <li><p>How this site works...</p></li>
        <li><p>How you can help...</p></li>
    </ul>

</div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>It's a footer. What do you want from me?</p>
</footer>