
<div>

Search: <input ng-model="query">

Sort by:
<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="calories">Calories</option>
    <option value="time">Prep Time</option>
</select>

<p>Total Number of Recipes: {{recipes}}</p>


<ul class="recipes">
    <li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="thumbnail">
        <a href="#/recipe/{{recipe.id}}" class="thumb"><img ng-src="{{recipe.imageUrl}}"></a>
        <a href="#/recipe/{{recipe.id}}">{{recipe.name}}</a>
        <span>{{recipe.name}}</span>
        <p>{{recipe.ingredients}}</p>
    </li>
</ul>


</div>